h1 {
  font-family: 'Dancing Script', cursive;
  color: #66bfbf;
  font-size: 5rem;
  margin: 50px;
  margin-bottom: 0;
}
h2{
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 30px;
  text-align: center;
}

h3{
  color: #66bfbf;
  font-size: 2rem;
}
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

body {
  margin: 0;
  text-align: center;

}
hr{
  border-top-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 10px;
  width: 7%;
}
.top-container {
  background-color: #EAF6F6;
  border: 0;
  position: relative;
  padding: 100px 100px 0 100px;
}

.top-cloud {
  position: absolute;
  top: 50%;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
  bottom: 25%;
  left: 25%;
}
.MAINIMG{
  width: 150px;
}
.logo {
  width: 25%;
  float: left;
  margin-right: 30PX;

}
.logo2 {
  width: 25%;
  float: right;
  margin-left: 30PX;
}

.bottom-container {
background-color: #66BFBF;
  padding: 50px 0 50px 0;

}

.footer-link{
  color: #11999E;
  text-decoration: none;
  margin: 40px 20px;
  font-family: 'Montserrat', sans-serif;
  width: 40%;
}

.footer-link:hover{
  color: white;
}

.profile{
  margin: 100px auto 100px auto;
  width: 40%;

}
.skills{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.tm{
  color: #EAF6F6;
  margin: 50px auto 0;
  padding-bottom: 0;
  font-size: 10px;

}
.contact-me{
  width: 40%;
  margin: 100px auto 100px auto;
}
.btn{
background-color: #66BFBF;
border-radius: 12px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.btn:hover{
  background-color: grey;
  border-radius: 12px;
  color: skyblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.skill-row{
  padding: 100px 0 50px 0;
}
#h2pri {
  color: #66bfbf;
}
